
@*<div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-3">
                <p1> @Tipodepuesto</p1>
            </div>
            <div class="col-md-3">
                <btn>Editar</btn>
            </div>
            <div class="col-md-3">
                <btn>Eliminar</btn>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <p1>@empresae</p1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            <p1>@descripcionhab</p1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p1>@tiempincio</p1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p1>@tiempoifin</p1>
            </div>
        </div>
    }

</div>*@